*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
:root{
    /* colors  */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
}

body{
    background-color: var(--color-bg);
}

.motionBtn {
    background: none;
    border: none;
    outline: none;
  }

/* start navBar */

  .navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .navbar-toggler {
    background-color: white;
    border: none;
  }

 .link:hover{
    color: var(--color-primary) !important;
}

/* end navBar */

/* Start Landing */

/* .Landing{
background-color: rgba(25, 55, 109, 0.9);
height: 100vh;
filter: blur(100px);
z-index: 1;
} */
 .Landing{
    
     color: var(--color-text);
     background-color: rgba(25, 55, 109, 0.9);
     
 }
.Landing button{
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 40px;
   
}


.Landing .img{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 20px); }
    100% { transform: translate(0, 0px); }
}

/* end Landing */