*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
:root{
    /* colors  */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
}

body{
    background-color: var(--color-bg);
}

.motionBtn {
    background: none;
    border: none;
    outline: none;
  }

.line{
    width: 70px;
    height: 3px;
    background-color: var(--color-primary);
    
}




/* start navBar */

  .navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .navbar-toggler {
    background-color: white;
    border: none;
  }

 .link:hover{
    color: var(--color-primary) !important;
}

/* end navBar */

/* Start Landing */


 .Landing{
    
     color: var(--color-text);
     background-color: rgba(25, 55, 109, 0.9);
     
 }
.Landing button{
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 40px;
   
}




/* end Landing */

/* Start about  */
.about img{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: all 0.5s ease-in-out;
    filter: brightness(0.7);
}
@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 20px); }
    100% { transform: translate(0, 0px); }
}
.about img:hover{
    filter: brightness(.9);
}

/* end about  */