*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Caveat", serif;
}
:root{
    /* colors  */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
  --scond-color: #ff511a;
}

body{
    background-color: var(--color-bg);
}
a{
    text-decoration: none;
    color: white;
}
.motionBtn {
    background: none;
    border: none;
    outline: none;
  }

.line{
    width: 70px;
    height: 3px;
    background-color: var(--color-primary);
}
.darkline{
    width: 70px;
    height: 3px;
    background-color: var(--color-bg);
}
.text-orange{
    color: var(--scond-color);
}

/* start navBar */
  .navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-bg);

  }
  .navbar-toggler {
    background-color: white;
    border: none;
  }
 .link:hover{
    color: var(--color-primary) !important;
}

/* end navBar */

/* Start Landing */
 .Landing{
     background-color: rgba(25, 55, 109, 0.9);
 }
.Landing button{
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 40px;
}
/* end Landing */

/* Start about  */
.about img{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: all 0.5s ease-in-out;
    filter: brightness(0.7);
}
@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 20px); }
    100% { transform: translate(0, 0px); }
}
.about img:hover{
    filter: brightness(.9);
}
/* end about  */

/* Start Experience  */

.experience{
    background-color: rgba(25, 55, 109, 0.9);
    
}
.experience i{
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.experience i:hover{
    background-color:transparent;
   cursor: pointer;
   scale: 1.1;
}
.experience .html:hover i{
color: orangered;
}
.experience .css:hover i{
color: blue;
}
.experience .js:hover i{
color: yellow;
}
.experience .react:hover i{
color: rgb(86, 193, 235);
}
.experience .github:hover i{
    color: black;
}
.experience .figma:hover i{
    color: black;
}
.experience .bootstrap:hover i{
    color: #632db4;
}

.experience .experience-info{
    background: linear-gradient(to top,  var(--color-bg) 0%, var(--color-bg) 40%, transparent );  
}

/* end Experience  */